ul {
  list-style: none;
}

li {
  margin: 15px;
}

button {
  width: 255px;
  height: 26px;
  margin-bottom: 3px;
  color: #000000;
}

.text-field {
  width: 460px;
  height: 54px;
  display: block;
  resize: none;
}
